@font-face {
    font-family: "Roboto";
    src: url(font/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(font/Roboto/Roboto-Regular.ttf);
}

/* General */

* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto-Regular";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #242728;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 80vw;
    margin: auto;
}

/* Table */

.styled-table {
    margin: auto;
}

.styled-table td,
.styled-table th {
    border: solid 1px black;
    padding: 5px 10px;
}

.styled-table tr {
    margin: 0;
}

.styled-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #777;
}

/* Header */

/* header {} */


/* Menu */

#main-icon {
    display: block;
    height: 112px;
    position: absolute;
    left: 0;
    top: 0;
}

nav {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .25);
    background-color: #c0392b;
}

#menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px;
}

#menu li a {
    color: white;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    transition: .2s;
}

#menu li a:hover {
    background-color: lighten(#c0392b);
}

/* Content */

.titre {
    background-color: white;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .25);
}

/* main {} */

main section {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .25);
    padding: 30px;
    background-color: #ecf0f1;
    border-radius: 5px;
    margin: 5px 0;
}

/* Footer */

footer {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .25);
    background-color: #c0392b;
    color: white;
    padding: 10px;
}

footer table {
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
}

footer a:visited {
    color: white;
}

/* Erwan */
.galery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.galery img {
    border-radius: 5px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .25);
}

/*Remy*/
/*/////////*/
#remy {
    font-family: "Roboto";
}

#remy h1 {
    border: 5px solid #c0392b;
    border-radius: 12px;
    background-color: #c0392b;
    color: white;
   /*/ border-top: 5px solid red;  
    border-bottom: 5px solid red; /*/
}
#remy h2 {
    border: 5px solid #c0392b;
    border-radius: 12px;
    background-color: #c0392b;
    color: white;
   /*/ border-top: 5px solid red;
    border-bottom: 5px solid red; /*/
}
#remy h3 {
    border: 5px solid #c0392b;
    border-radius: 12px;
    background-color: #c0392b;
    color: white;
    /*/border-top: 5px solid red;
    border-bottom: 5px solid red;/*/
}
#remy .saison {
    border: 5px solid #c0392b;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #c0392b;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
}
#remy #HoraireAnimation {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0%;
}
#remy #actuMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#remy #actuMenu a {
    display: block;
    width: 33%;
    padding: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 32px;

    border-radius: 12px;
    text-decoration: none;
}

#remy #actuMenu a#liStade {
    background: url("img/stade.jpg"), linear-gradient(to right bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#remy .carreStade {
   background-color: #c0392b;
   border-radius: 12px;
   opacity: 0.5;
   font-size: 40px;
}
#remy .carreStade:hover {
    opacity: 0.9;
 }
#remy #actuMenu a#liHistoire {
    background: url("img/histoire.jpg"), linear-gradient(to right bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#remy #actuMenu a#liBureau {
    background: url("img/bureau.jpg"), linear-gradient(to right bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#remy #horraireListe li {
    list-style-type:none;
    padding: 0.25cm;
}
#remy .HoraireEntrainement {
    text-align: center;
    margin-top: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#remy .HoraireEntrainement ul li {
    list-style-type:none;
    padding: 0.25cm;
}

#remy h1#informationConvocation a {
    color: white;
}
#remy #contactDirigeant {
    color: #242728;
}
/*/////https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity////*/

#styled-table{
    padding: 150px;
}



/* -- Théo --*/
/* galerie */

.container{
    width: 800px;
    height: 400px;
    background-color: rgb(80,80,80);
    overflow: hidden;
    margin: 100px auto;
    border : solid;
    border: 10px;
    border-color: rgb(80,80,80)
}

.slide{
    width: calc(800px * 4);
    height: inherit;
    animation: slide 30s infinite;
}

.slide img{
    width: 800px;
    margin: 0px;
    float: left;
    bottom : -70%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }

    20%{
        transform: translateX(-800px);
    }
    25%{
        transform: translateX(-800px);
    }

    45%{
        transform: translateX(-1600px);
    }
    50%{
        transform: translateX(-1600px);
    }

    70%{
        transform: translateX(-2400px);
    }
    75%{
        transform: translateX(-2400px);
    }

    95%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }

}